input {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.imagenTabla{
    height: 3rem;
}
#contenedorHeader{
    display: flex;
    flex-direction: row;
}
#header{
    width: 80%;
}
#user{
    width: 20%;
}

#buscador{
    width: 50rem;
}

.imagenTabla{
    width: 3.125rem;
}

#contenedorInfo{
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#imgVisualizacion{
    height: 20rem;
}

#tipoNombre{
    display: flex;
}

#imgTipo{
    height: 2rem;
    align-self: center;
}