.btn {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btn-danger {
    background-color: #f44336; /* Rojo para botones de eliminación */
}

.btn-group {
    display: inline-flex;
    gap: 10px; /* Espaciado entre botones */
}