<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="view/style/estilosVistas.css">
    <link rel="icon" href="img/pokebolaLogo.png" type="image/png">
    <title>Info Pokémon</title>
</head>
<body class="w3-light-gray">
{{#pokemonData}}
<section class="w3-center" id="contenedorInfo">
    <div class="w3-margin" id="imagenInfo">
        <img src="img/pokemon/{{imagen}}" alt="Imagen Pokémon seleccionado" id="imgVisualizacion">
    </div>
    <div class="w3-margin" id="info">
        <div id="tipoNombre">
            {{#tipos}}
            <img src="img/TipoPokemon/tipo_{{.}}_icono.png" alt="{{.}}" id="imgTipo">
            {{/tipos}}
            <h2 class="titulo">| {{nombre}}</h2>
        </div>
        <div>
            <p>{{descripcion}}</p>
        </div>
    </div>
</section>
{{/pokemonData}}



</body>
</html>